<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="css/hasher.css">
    <title>Hasher</title>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">
          <button type="button" class="btn" id="back">Back</button>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-xs-12">
          <h4>Donation</h4>
        </div>
        <div class="col-xs-5 text-center">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Percent amount" id="percent">
            <span class="input-group-addon">%</span>
          </div>
        </div>
        <div class="col-xs-2 text-center or">
          <b>or</b>
        </div>
        <div class="col-xs-5 text-center">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Minutes per day" id="minute">
            <span class="input-group-addon">mins/day</span>
          </div>
          <small class="form-text text-muted">Donations occur every 24hrs of mining.</small>
        </div>
        <div class="col-xs-12 text-center top-buffer">
          <button class="btn primary" type="button" id="save_donation">Save</button>
        </div>
        <div class="col-xs-12 text-center top-buffer">
          <div id="message"></div>
        </div>
      </div>
    </div>

    <div class="footer text-right">
      <span id="version"></span>
    </div>

    <script>
        window.jQuery = window.$ = require('jquery');
    </script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script>
      require('./js/settings.js')
      require('./js/donation.js')
    </script>

  </body>
</html>
