<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="css/hasher.css">
    <title>Hasher</title>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row top-buffer">
        <div class="col-xs-12 text-center">
          <h1>You're all set!</h1>
          <p>You are now ready to use Hasher and start mining with optimized profit. Or you can also fine tune Hasher by (de)selecting algorithms or changing intensities (in the settings) to take full advantage of your hardware.</p>
          <button type="button" class="btn" id="hash">Got it!</button>
        </div>
      </div>
    </div>

    <div class="footer text-right">
      <span id="version"></span>
    </div>

    <script>
        window.jQuery = window.$ = require('jquery');
    </script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script>
      require('./js/settings.js');
      const {ipcRenderer} = require('electron');
      $("#hash").click(function() {
        ipcRenderer.send('changePage', "");
      })
    </script>

  </body>
</html>
