<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/pretty-checkbox/dist/pretty-checkbox.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="css/hasher.css">
    <title>Hasher</title>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">
          <button type="button" class="btn" id="back">Back</button>
        </div>
        <div class="col-xs-offset-4 col-xs-4 text-right">
          <button type="button" class="btn tertiary" id="next">Next</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <small class="text-alert" id="intro_errors"></small>
          <h4>BTC address</h4>
          <div class="input-group">
            <input type="text" class="form-control" id="wallet_address"/>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" id="save_wallet">Save</button>
            </span>
          </div>
          <small id="message"></small>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-xs-12">
          <h4>What do you run?</h4>
          <div class="input-group">
            <div class="nvidia pretty p-default p-curve p-smooth p-fill">
                <input id="nvidia" type="radio" name="hardware" />
                <div class="state p-success">
                    <label>Nvidia</label>
                </div>
            </div>
            <div class="amd pretty p-default p-curve p-smooth p-fill">
                <input id="amd" type="radio" name="hardware" />
                <div class="state p-danger">
                    <label>AMD</label>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-xs-12">
          <h4>Benchmark speed </h4>
          <small>The slower the more accurate the profit estimates will be. The time estimates below correspond the maximum time (i.e. assuming you benchmark on all eligible algorithms).</small>
          <div class="input-group">
            <div class="pretty p-icon p-curve p-smooth p-plain">
                <input id="fast" type="radio" name="speed" />
                <div class="state p-primary-o">
                    <i class="icon glyphicon glyphicon-flash"></i>
                    <label>Fast<small class="speed"></small></label>
                </div>
            </div>
            <div class="pretty p-icon p-curve p-smooth p-plain">
                <input id="regular" type="radio" name="speed" />
                <div class="state p-primary-o">
                    <i class="icon glyphicon glyphicon-adjust"></i>
                    <label>Regular<small class="speed"></small></label>
                </div>
            </div>
            <div class="pretty p-icon p-curve p-smooth p-plain">
                <input id="slow" type="radio" name="speed" />
                <div class="state p-primary-o">
                    <i class="icon glyphicon glyphicon-time"></i>
                    <label>Slow<small class="speed"></small></label>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-xs-12 text-right">
          <div class="btn btn-default" id="advanced">Advanced</button></div>
        </div>
      </div>

      <div class="advanced hidden">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 text-right">
              <button class="btn white closeAdvanced">X</button>
            </div>
            <div class="col-xs-12">
              <h4>Advanced settings</h4>
              <p>Here, you can customize intensity for each algorithm-miner pair. More options will be available as Hasher is updated. Use a single value to apply the same intensity to all your GPUs (e.g., <code>17.5</code>), or multiple values separated with a comma. For instance, <code>17.5,14</code> means GPU #0 will be affected <code>17.5</code> and GPU #1 <code>14</code>.<br>
              <small class="text-alert">If you experience crashes, shutdowns or if benchmark does not succeed for some algorithms (i.e. you obtain 0H/s), you may try to reduce their intensity.</small></p>
              <form class="form-inline intensity"></form>
            </div>
            <div class="col-xs-12">
              <button class="btn primary closeAdvanced">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer text-right">
      <span id="version"></span>
    </div>

    <script>
        window.jQuery = window.$ = require('jquery');
    </script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script>
      require('./js/settings.js')
      require('./js/options.js')
    </script>

  </body>
</html>
