<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/pretty-checkbox/dist/pretty-checkbox.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css" rel="stylesheet">
    <link rel="stylesheet" href="css/hasher.css">
    <title>Hasher</title>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">
          <button type="button" class="btn" id="back">Back</button>
        </div>
        <div class="col-xs-4 col-xs-offset-4 text-right">
          <button type="button" class="btn primary disabled" id="benchmark">Benchmark</button>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-xs-12">
          <h4>Select GPUs to benchmark:</h4>
          <div class="list-group" id="gpuList">
            <small>The list is long to load on OSX and UNIX. If no GPU appears after 5mins, then Hasher couldn't find any. :(</small>
          </div>
        </div>
      </div>
    </div>

    <div class="loadpopup hidden">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 text-center">
            <h3 id="action"><h3>
            <div id="progress"></div>
            <small class="text-alert" id="error"></small>
            <button class="btn secondary" id="cancel_bench">Cancel benchmark</button>
          </div>
        </div>
      </div>
    </div>

    <div class="statspopup hidden">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h4 id="gpuname"></h4>
            <table id="gpustats" class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Algorithm</th>
                  <th scope="col">Hashrate</th>
                  <th scope="col">Enabled</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <button class="btn secondary" id="closeStats">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="footer text-right">
      <span id="version"></span>
    </div>

    <script>
        window.jQuery = window.$ = require('jquery');
    </script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script>
      require('./js/settings.js')
      require('./js/performance.js')
    </script>

  </body>
</html>
