<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="css/hasher.css">
    <title>Hasher</title>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">
          <button type="button" class="btn" id="back">Back</button>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-xs-12">
          <h4>Enter your BTC address:</h4>
          <div class="input-group">
            <input type="text" class="form-control" id="wallet_address"/>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" id="save_wallet">Save</button>
            </span>
          </div>
          <div id="message"></div>
        </div>
      </div>
    </div>

    <div class="footer text-right">
      <span id="version"></span>
    </div>

    <script>
        window.jQuery = window.$ = require('jquery');
    </script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script>
      require('./js/settings.js')
      require('./js/wallet.js')
    </script>

  </body>
</html>
