/* Palette
    Blue: 4abdac
    Red: fc4a1a
    Orange: f7b733
    Gray: dfdce3
*********/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  line-height:20px;
  background-color: #dfdce3;
}

#version {
  margin-right: 10px;
  color: #333333;
  font-weight: 100;
  font-size: 12px;
}

.btn {
  border-radius: 0;
  box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.03);
}

.btn:hover {
  box-shadow:none;
}

.btn:focus,.btn:active {
  outline: 1px solid #f7b733;
}

#hash{
  margin-top: 10px;
  width:100px;
  height:100px;
  background-color: #4abdac;
  color: #ffffff;
  border: 0;
  font-size:16px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.03), 0 0 0 2px #4abdac;
}

#hash:active {
  border: 0px solid #dfdce3;
}

#hash:hover {
  box-shadow:0 0 0 2px #4abdac;
}

#hash:focus {
  outline: none;
}

.top-buffer { margin-top:20px; }

.menu {
  width: 150px;
  height:50px;
  background-color: #dfdce3;
}

.info {
  width: 150px;
  height: 75px;
  margin-left:99px;
  background-color: #f7b733;
  color: #ffffff;
}

#balance {
  background-color: #fc4a1a;
}

.btn.primary, .btn.secondary, .btn.tertiary {
  color: #ffffff;
  border: 0;
}

.btn.primary:hover {
  box-shadow:0;
}

.btn.primary {
  background-color: #4abdac;
}

.btn.secondary {
  background-color: #fc4a1a;
}

.btn.tertiary {
  background-color: #f7b733;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  background-color: #4abdac;
  border-color: #4abdac;
}

.loadpopup, .statspopup, .algopopup, .advanced {
  top:0;
  left:0;
  position: fixed;
  width: 600px;
  height: 434px;
  background-color: #ffffff;
  z-index:10;
  overflow: auto;
}

.algopopup, .statspopup, .advanced {
  padding-bottom: 20px;
}

.loadpopup .row {
  margin-top: 70px;
}

#progress {
  position: relative;
  margin: auto;
  height: 100px;
  width: 100px;
}

#cancel_bench {
  margin-top:20px;
}

.btn-sm {
  border-radius: .25rem;
}

.input-group-btn > .btn-primary {
  border-radius: .25rem;
  background-color: #4abdac;
  border-color: #4abdac;
}

.text-primary {
  color: #4abdac;
}

.text-alert {
  color: #fc4a1a;
}

.or {
  line-height: 35px;
}

#balance h5, #estimate h5 {
  margin-bottom:0;
  padding-bottom:0;
}

.balance {
  margin-top:0;
  font-size: 16px;
  font-family: "rawline", sans-serif;
}

.balance small {
  font-size:12px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#btceur, #btcusd {
  font-family: "rawline", sans-serif;
  font-size:8px;
}

.pretty {
  margin-right:.8em;
}

.pright {
  margin-right:0;
  margin-left:.6em;
}

.regions {
  margin-left:50px;
}

#algos {
  font-family: "rawline", sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.nvidia.pretty input:checked~.state.p-success label {
    color: #5cb85c;
}

.amd.pretty input:checked~.state.p-danger label {
    color: #d9534f;
}

.btn.white {
  background-color: #ffffff;
  color: #f7b733;
  box-shadow: none;
}

.intensity .input-group-addon {
    min-width: 155px;
}

.intensity {
  margin-bottom: 20px;
}

.miningStats {
  font-family: "rawline", sans-serif;
  font-weight: 200;
  font-size: 10px;
  display:block;
  height:40px;
}
